<div class="header_proj">
   <h1>NgRx Project</h1>
   <a target="_blank" rel="noopener noreferrer" href="assets/spec.pdf">See spec<mat-icon>open_in_new</mat-icon></a>
 </div>
<div class="cl_component">
    <app-my-comp1 [label]="labelRegion" [items]="itemsRegions" (itemSelected)="onSelected($event)"></app-my-comp1>
 </div>   

 <div class="cl_component">
    <app-my-comp1 [label]="labelCountries" [items]="itemsCountries" (itemSelected)="onCountrySelected($event)"></app-my-comp1>
 </div> 

 <div *ngIf="showTable">
    <app-my-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-my-table>
</div>

<!-- 
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://github.com/ngrx/platform
-->